# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.env/

# MacOS
.DS_Store

# Logs
*.log
app.log

# Temporary / outputs
*.png
*.html

# Jupyter (if any later)
.ipynb_checkpoints/

# Git
.git/